/* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.header {
  grid-area: hd;
  background-color: #0F044C;
  color: #e1e5e9;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .header .header__logo {
    width: 50px;
    margin: 10px 10px 10px 20px; }

.navegacion {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 20px 10px 10px; }
  .navegacion .navegacion__icono {
    width: 20px; }
  .navegacion .navegacion__lista {
    list-style-type: none; }
    .navegacion .navegacion__lista:hover .navegacion__botones {
      display: block;
      position: absolute; }
  .navegacion li > a {
    background-color: #0F044C;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    width: 120px;
    display: block;
    text-align: center; }
  .navegacion .navegacion__botones {
    list-style: none;
    display: none;
    position: absolute; }
    .navegacion .navegacion__botones:hover {
      background-color: #848C8C; }

/* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.contenedorEstilos {
  grid-area: mn;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center; }

.estilos {
  background-color: #e1e5e9;
  color: #111f21;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
  padding: 10px;
  text-align: justify;
  opacity: 80%;
  border-radius: 10px; }
  .estilos:hover {
    opacity: 100%;
    transition: 1s;
    transform: scale(1.05, 1.05); }
  .estilos hr {
    border: solid 1px #111f21; }
  .estilos ul {
    list-style: none;
    color: #F2F1ED; }
    .estilos ul li {
      display: inline-block;
      background-color: #111f21;
      padding: 0px 5px; }

/* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.contenedorNosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 40px;
  padding: 40px;
  align-content: center; }

.contenedorNosotros__parrafo {
  width: 350px;
  margin: 10px;
  text-align: justify; }

.cardNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 400px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 20px 10px;
  padding: 10px 30px;
  border-radius: 10px;
  color: #111f21; }
  .cardNosotros:hover {
    opacity: 100%; }

.cardNosotros--blanco {
  background-color: #ffffff;
  opacity: 85%; }

.cardNosotros--gris {
  background-color: #e1e5e9;
  opacity: 70%; }

.cardNosotros__ventas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center; }

.cardNosotros__imagen {
  width: 400px;
  border-radius: 10px; }

.cardNosotros__video {
  width: 400px;
  border-radius: 10px; }

/* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* ----------   CONTENEDOR PRINCIPAL  ---------- */
.contenedorPrincipal {
  grid-area: mn;
  color: #111f21;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center; }

.contenedorPrincipal__imagen {
  height: 100%;
  width: 500px; }

.contenedorPrincipal__descripcion {
  grid-area: mn;
  background-color: #e1e5e9;
  width: 500px;
  padding: 40px;
  text-align: justify;
  order: -1; }

.contenedorPrincipal__logo {
  width: 100%; }

.contenedorPrincipal__texto {
  font-size: 14px;
  color: #142424; }

h4 {
  color: solid black; }

/* ----------   CONTENEDOR DESTACADAS  ---------- */
.contenedorDestacadas {
  grid-area: ds;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 400px;
  padding: 30px 50px; }

.contenedorDestacadas__caja {
  background-color: #e1e5e9;
  color: #111f21;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 10px; }
  .contenedorDestacadas__caja:hover {
    transition: 1s;
    transform: scale(1.2, 1.2); }

.contenedorDestacadas__titulo {
  display: inline-block;
  margin: auto; }

.contenedorDestacadas__imagen {
  width: 60px;
  display: inline-block;
  margin: auto; }

.contenedorDestacadas__texto {
  width: 100%;
  display: inline-block;
  margin: auto; }

.caja1 {
  grid-area: caja1; }

.caja2 {
  grid-area: caja2; }

.caja3 {
  grid-area: caja3; }

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

body {
  background: #141E61;
  color: #e1e5e9;
  font-family: 'Saira', sans-serif; }
  body p {
    font-size: 14px; }

.contenedor {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" "mn mn mn mn mn mn mn mn mn mn mn mn" "ds ds ds ds ds ds ds ds ds ds ds ds" "ft ft ft ft ft ft ft ft ft ft ft ft"; }

.contenedorProductos {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "hd hd hd" "mn mn mn" "mn mn mn" "mn mn mn" "ft ft ft"; }

.contenedorContacto {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "hd hd hd" "mn mn mn" "ft ft ft"; }

/* ----------   ESTILOS DE CONTACTO   ---------- */
.sectionContacto {
  grid-area: mn;
  background-image: url("../img/pinos.jpg");
  background-size: 100%;
  width: 100%;
  color: #111f21;
  text-align: center;
  display: flex;
  justify-content: center; }
  .sectionContacto .formulario {
    background-color: #e1e5e9;
    width: 400px;
    padding: 20px; }

/* ----------   ESTILOS DEL FOOTER   ---------- */
.footer {
  grid-area: ft;
  background-color: #0F044C;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  .footer a {
    text-decoration: none;
    color: white; }
  .footer div {
    margin: 5px;
    display: flex; }
  .footer img {
    width: 30px;
    padding: 0px 3px; }

/* ------------------ MEDIA QUERIES -----------------*/
/* --------------------- Mobile ---------------------*/
@media screen and (max-width: 480px) {
  .contenedor {
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "hd hd" "mn mn" "ds ds" "ds ds" "ds ds" "ft ft"; }
  .contenedorProductos {
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "hd hd" "mn mn" "ds ds" "ds ds" "ds ds" "ft ft"; }
  .contenedorEstilos {
    grid-area: mn;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    justify-content: center; }
  .contenedorPrincipal {
    grid-area: mn;
    color: #111f21;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .contenedorPrincipal .contenedorPrincipal__imagen {
      display: none; }
  .contenedorDestacadas {
    grid-area: ds;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 700px;
    padding: 30px 50px; }
  .contenedorNosotros {
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
    .contenedorNosotros .cardNosotros {
      height: 600px;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      margin: 20px 10px;
      padding: 10px 30px;
      flex-wrap: wrap; }
      .contenedorNosotros .cardNosotros .cardNosotros__imagen {
        width: 300px; } }

/* --------------------- Tablet ---------------------*/
@media screen and (max-width: 768px) {
  .contenedor {
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "hd hd hd" "mn mn mn" "ds ds ds" "ft ft ft"; }
  .contenedorPrincipal {
    grid-area: mn;
    color: #111f21;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .contenedorDestacadas {
    grid-area: ds;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 700px;
    padding: 30px 50px; }
  .contenedorEstilos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    justify-content: center; }
  .contenedorNosotros {
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
  .cardNosotros__imagen {
    width: 300px; }
  .cardNosotros {
    height: 700px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 20px 10px;
    padding: 10px 30px;
    flex-wrap: wrap; } }
