*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(225, 229, 233);
    font-family: 'Saira', sans-serif;
}


.contenedor {
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"header header header"
                        "main main main"
                        "destacada destacada destacada"
                        "footer footer footer";
}


.contenedorProductos {
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:"header header header"
                        "main main main"
                        "main main main"
                        "main main main"
                        "footer footer footer";
}


.contenedorContacto {
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"header header header"
                        "main main main"
                        "footer footer footer";
}



/* ----------   ESTILOS HEADER  ---------- */


.header {
    grid-area: header;
    background-color: rgb(20,36,39);
    color: rgb(225, 229, 233);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.logo{
    width: 50px;
    margin: 10px 10px 10px 20px;
}


img {
    width: 50px
}


.menuNavegacion {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px 10px 10px;
}


ul {
    list-style: none;
}


.menuNavegacion li > a {    
    background-color: rgb(20,36,39);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    width: 120px;
    display: block;
    text-align: center;
}


.menuNavegacion ul ul a:hover {
    background-color: #848C8C;
}


.menuNavegacion li ul {
    display: none;
    position: absolute;
}


.menuNavegacion li:hover > ul {
    display: block;
    position: absolute;
}


.iconoMenu img {
    width: 20px;
}



/* ----------   CONTENEDOR PRINCIPAL  ---------- */


.contenedorPrincipal {
    grid-area: main;
    color: rgb(17, 31, 33);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}


.contenedorDescripcion {
    grid-area: main;
    background-color: rgb(225, 229, 233);
    width: 500px;
    padding: 40px;
    text-align: justify;
    order: -1;
}


.imagenCanillas {
    height: 100%;
    width: 500px;
}


.imagenLogo {
    width: 100%;
}

p {
    font-size: 14px;
    color: #142424;
}


h4 {
    color: solid black;
}


/* ----------   CONTENEDOR DESTACADAS  ---------- */


.contenedorDestacadas {
    grid-area: destacada;
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 400px;
    padding: 30px 50px;
}


.contenedorDestacadas img{
    width: 60px;
}


.caja1 {
    grid-area: caja1;
}


.caja2 {
    grid-area: caja2;
}


.caja3 {
    grid-area: caja3;
}


.contenedorDestacadas .caja1, .caja2, .caja3 {
    background-color: rgb(225,229,233);
    color: rgb(17,31,33);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 10px; 
}


.contenedorDestacadas div:hover {
    transition: 1s;
    transform: scale(1.2,1.2);
}


.contenedorDestacadas > h4, img, p {
    display: inline-block;
    margin: auto;
}


.contenedorDestacadas p{
    width: 100%;
}


/* ----------   ESTILOS DE PRODUCTOS  ---------- */


.contenedorEstilos {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}


.estilos {
    background-color: rgb(225,229,233);
    color: rgb(17,31,33);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    opacity: 80%;
    border-radius: 10px;
}


.estilos:hover {
    opacity: 100%;
    transition: 1s;
    transform: scale(1.05,1.05);
}


.estilos hr {
    border: solid 1px rgb(17,31,33);
}


.estilos ul {
    list-style: none;
    color: #F2F1ED;
}


.estilos li {
    display: inline-block;
    background-color: rgb(17,31,33);
    padding: 0px 5px;
}


/* ----------   ESTILOS DE NOSOTROS   ---------- */


.contenedorNosotros {
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


.nosotros, .elaboracion, .ventas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 400px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 20px 10px;
    padding: 10px 30px;
    border-radius: 10px;
    color: rgb(17,31,33);
}


.nosotros:hover {
    opacity: 100%;
}


.elaboracion:hover {
    opacity: 100%;
}


.ventas:hover {
    opacity: 100%;
}


.contenedorNosotros p {
    width: 350px;
    margin: 10px;
    text-align: justify;
}


.nosotros, .ventas {
    background-color: white;
    opacity: 85%;
}


.elaboracion {
    background-color: rgb(225,229,233);
    opacity: 70%;
}


.ventas div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}


.imagenCorporativa {
    width: 400px;
    border-radius: 10px;
}


.nosotros video {
    width: 400px;
    border-radius: 10px;
}



/* ----------   ESTILOS DE CONTACTO   ---------- */


.sectionContacto {
    grid-area: main;
    background-image: url("../imagenes/pinos.jpg");
    background-size: 100%;
    width: 100%;
    background-color: rgba(225,229,233, 40%);
    color: rgb(17, 31, 33);
    text-align: center;
    display: flex;
    justify-content: center;
}


form {
    background-color: rgba(225,229,233, 40%);
    width: 400px;
    padding: 20px;
}


/* ----------   ESTILOS DEL FOOTER   ---------- */


.footer {
    grid-area: footer;
    background-color: rgb(20,36,39);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.footer a {
    text-decoration: none;
    color: white;
}


.footer div {
    margin: 5px;
    display: flex;

}


.footer img {
    width: 30px;
    padding: 0px 3px;
}




/* ---------------- MEDIA QUERIES ------------------*/


@media screen and (max-width: 480px) {
    .contenedor {
        width: 100%;
        margin: 0px auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:"header header"
                            "main main"
                            "destacada destacada"
                            "destacada destacada"
                            "destacada destacada"
                            "footer footer";
    }


    .contenedorProductos {
        width: 100%;
        margin: 0px auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, auto);
        grid-template-areas:"header header"
                            "main main"
                            "destacada destacada"
                            "destacada destacada"
                            "destacada destacada"
                            "footer footer";
    }


    .contenedorEstilos {
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        justify-content: center;
    }


    .contenedorPrincipal {
        grid-area: main;
        color: rgb(17, 31, 33);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .imagenCanillas {
        display: none;
    }
    

    .contenedorDestacadas {
        grid-area: destacada;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        height: 700px;
        padding: 30px 50px;
    }


    .contenedorEstilos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        justify-content: center;
    }


    .contenedorNosotros {
        margin: 40px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    

   .ventas img {
       width: 300px;
   }


   .elaboracion img {
       width: 300px;
   }
    

    .nosotros, .elaboracion, .ventas {
        height: 600px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin: 20px 10px;
        padding: 10px 30px;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 768px) {
    .contenedor {
        width: 100%;
        margin: 0px auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:"header header header"
                            "main main main"
                            "destacada destacada destacada"
                            "footer footer footer";
    }


    .contenedorPrincipal {
        grid-area: main;
        color: rgb(17, 31, 33);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    

    .contenedorDestacadas {
        grid-area: destacada;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        height: 700px;
        padding: 30px 50px;
    }


    .contenedorEstilos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        justify-content: center;
    }


    .contenedorNosotros {
        margin: 40px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    

    .ventas img {
        width: 300px;
    }
 
 
    .elaboracion img {
        width: 300px;
    }

    
    .nosotros, .elaboracion, .ventas {
        height: 700px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin: 20px 10px;
        padding: 10px 30px;
        flex-wrap: wrap;
    }
}
