*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background-color: white;
    color: rgb(225, 229, 233);
    font-family: 'Saira', sans-serif;
}


.contenedorIndex {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:"header header"
                        "contenedorPrincipal contenedorPrincipal"
                        "contenedorDestacadas contenedorDescatacadas contenedorDestacadas"
                        "footer footer";
}



/* ----------   ESTILOS HEADER  ---------- */


header {
    grid-area: header;
    background-color: rgb(20,36,39);
    color: rgb(225, 229, 233);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 80px;
    margin: 10px 10px 10px 20px;
}


img {
    width: 50px
}


.menuNavegacion {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px 10px 10px;
}


ul {
    list-style: none;
}


.menuNavegacion li > a {    
    background-color: rgb(20,36,39);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    width: 120px;
    display: block;
    text-align: center;
}


.menuNavegacion ul ul a:hover {
    background-color: #848C8C;
}


.menuNavegacion li ul {
    display: none;
    position: absolute;
}


.menuNavegacion li:hover > ul {
    display: block;
}


.iconoMenu img {
    width: 25px;
}



/* ----------   CONTENEDOR PRINCIPAL  ---------- */


.contenedorPrincipal {
    grid-area: contenedorPrincipal;
    color: rgb(17, 31, 33);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}


.contenedorDescripcion {
    background-color: rgb(225, 229, 233);
    width: 500px;
    padding: 40px;
    text-align: justify;
    order: -1;
}


.imagenCanillas {
    height: 100%;
    width: 500px;
}


.imagenLogo {
    width: 100%;
}

p {
    font-size: 14px;
    color: #142424;
}


h4 {
    color: solid black;
}


/* ----------   CONTENEDOR DESTACADAS  ---------- */


.contenedorDestacadas {
    grid-area: contenedorDestacadas;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 400px;
    padding: 30px 50px;
}


.contenedorDestacadas img{
    width: 60px;
}


.contenedorDestacadas div {
    background-color: rgb(225,229,233);
    color: rgb(17,31,33);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    border: outset 5px #c2c9c3;
    border-radius: 10px; 
}


.contenedorDestacadas > h4, img, p {
    display: inline-block;
    margin: auto;
}


.contenedorDestacadas div p{
    width: 100%;
}


/* ----------   ESTILOS DE PRODUCTOS  ---------- */


.contenedorEstilos {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}


.estilos {
    background-color: rgb(225,229,233);
    color: rgb(17,31,33);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    opacity: 80%;
    border-radius: 10px;
}


.estilos hr {
    border: solid 1px rgb(17,31,33);
}


.estilos ul {
    list-style: none;
    color: #F2F1ED;
}


.estilos li {
    display: inline-block;
    background-color: rgb(17,31,33);
    padding: 0px 5px;
}


/* ----------   ESTILOS DE NOSOTROS   ---------- */


.contenedorNosotros {
    background-color: white;
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


.nosotros, .elaboracion, .ventas {
    height: 400px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 20px 10px;
    padding: 10px 30px;
}


.contenedorNosotros p {
    width: 350px;
    margin: 10px;
    text-align: justify;
}


.nosotros, .ventas {
    background-color: white;
    color: rgb(17,31,33);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.elaboracion {
    background-color: rgb(225,229,233);
    color: rgb(17,31,33);
    display: flex;
    border-radius: 10px;
}


.ventas div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}


.imagenCorporativa {
    width: 400px;
    border-radius: 10px;
}


.nosotros video {
    width: 400px;
    border-radius: 10px;
}



/* ----------   ESTILOS DE CONTACTO   ---------- */


.sectionContacto {
    background-image: url("../imagenes/pinos.jpg");
    background-size: 100%;
    height: 580px;
    width: 100%;
    background-color: rgba(225,229,233, 40%);
    color: rgb(17, 31, 33);
    text-align: center;
    display: flex;
    justify-content: center;
}


form {
    background-color: rgba(225,229,233, 40%);
    width: 400px;
    padding: 20px;
}


/* ----------   ESTILOS DEL FOOTER   ---------- */


footer {
    grid-area: footer;
    background-color: rgb(20,36,39);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

footer a {
    text-decoration: none;
    color: white;
}


footer div {
    margin: 5px;
    display: flex;

}


footer img {
    width: 30px;
    padding: 0px 3px;
}




@media screen and (max-width: 768px) {
    .contenedorIndex {
        width: 100%;
        margin: 20px auto;
        display: grid;
        grid-gap: 10px;
        grid-template-areas:"header header"
                            "contenedorPrincipal" 
                            "contenedorPrincipal"
                            "contenedorDestacadas" 
                            "contenedorDescatacadas" 
                            "contenedorDestacadas"
                            "footer footer";
    }

    .contenedorPrincipal {
        grid-area: contenedorPrincipal;
        color: rgb(17, 31, 33);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .contenedorDestacadas {
        grid-area: contenedorDestacadas;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        height: 700px;
        padding: 30px 50px;
    }

    .contenedorEstilos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        justify-content: center;
    }

    .contenedorNosotros {
        background-color: white;
        margin: 40px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    
   .ventas img {
       width: 250px;
   }
    
    .nosotros, .elaboracion, .ventas {
        height: 600px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin: 20px 10px;
        padding: 10px 30px;
        flex-wrap: wrap;
    }
}



@media screen and (max-width: 480px) {
    .contenedorIndex {
        width: 100%;
        margin: 20px auto;
        display: grid;
        grid-gap: 10px;
        grid-template-areas:"header header"
                            "contenedorPrincipal" 
                            "contenedorPrincipal"
                            "contenedorDestacadas" 
                            "contenedorDescatacadas" 
                            "contenedorDestacadas"
                            "footer footer";
    }

    .contenedorPrincipal {
        grid-area: contenedorPrincipal;
        color: rgb(17, 31, 33);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .imagenCanillas {
        display: none;
    }
    
    .contenedorDestacadas {
        grid-area: contenedorDestacadas;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        height: 700px;
        padding: 30px 50px;
    }

    .contenedorEstilos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        justify-content: center;
    }

    .contenedorNosotros {
        background-color: white;
        margin: 40px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    
   .ventas img {
       width: 250px;
   }
    
    .nosotros, .elaboracion, .ventas {
        height: 600px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin: 20px 10px;
        padding: 10px 30px;
        flex-wrap: wrap;
    }
}
