@import "colores";

/* ----------   CONTENEDOR PRINCIPAL  ---------- */


.contenedorPrincipal{
    grid-area: mn;
    color: rgb(17, 31, 33);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.contenedorPrincipal__imagen{
    height: 100%;
    width: 500px;
}
.contenedorPrincipal__descripcion{
    grid-area: mn;
    background-color: rgb(225, 229, 233);
    width: 500px;
    padding: 40px;
    text-align: justify;
    order: -1;
}

.contenedorPrincipal__logo{
    width: 100%;
}

.contenedorPrincipal__texto{
    font-size: 14px;
    color: #142424;
}

h4{
    color: solid black;
}


/* ----------   CONTENEDOR DESTACADAS  ---------- */


.contenedorDestacadas{
    grid-area: ds;
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 400px;
    padding: 30px 50px;
}

.contenedorDestacadas__caja{
    background-color: $colorCaja1;
    color: $colorFuente2;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 10px;
    
    &:hover{
        transition: 1s;
        transform: scale(1.2,1.2);  
    }
}


.contenedorDestacadas__titulo{
    display: inline-block;
    margin: auto;
}

.contenedorDestacadas__imagen{
    width: 60px;
    display: inline-block;
    margin: auto;
}

.contenedorDestacadas__texto{
    width: 100%;
    display: inline-block;
    margin: auto;
}

.caja1 {
    grid-area: caja1;
}

.caja2 {
    grid-area: caja2;
}

.caja3 {
    grid-area: caja3;
}